Source: power-manager
Section: system
Priority: extra
Maintainer: Jonghoon Han <jonghoon.han@samsung.com> Jinkun Jang <jinkun.jang@samsung.com> DongGi Jang <dg0402.jang@samsung.com> TAESOO JUN <steve.jun@samsung.com>
Uploaders: Jinkun Jang <jinkun.jang@samsung.com>
Build-Depends: debhelper (>= 5), libglib2.0-dev, libslp-setting-dev, libslp-sysman-dev, libaul-1-dev, dlog-dev, libheynoti-dev, libslp-sensor-dev, libdevman-plugin-dev
Standards-Version: 3.7.2

Package: power-manager-bin
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Samsung Linux platform Power manager
 Samsung Linux platform Power manager
 
Package: power-manager-bin-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, power-manager-bin (= ${Source-Version})
Description: Samsung Linux platform Power manager
 Samsung Linux platform Power manager (unstripped)
